#parse("base.html")
#@mainLayout()
<html lang="fr">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/style.css">
    <title>Je met les easter egg que je veux d'abord !</title>
</head>
<body>
<div>
    <img id="mandelbrot" src="$path" />
</div>

<script type="text/javascript">
    // récupérer via le HashMap passé cf. App.java
    zoom = $mandelbrot.getZoomFactor().toString();
    topx = $mandelbrot.getTopLeftX().toString();
    topy = $mandelbrot.getTopLeftY().toString();


    picture = document.getElementById("mandelbrot");
    picture.addEventListener("click", mouseClick);
    picture.onwheel = wheelPressed;

    // zoom +
    function mouseClick(event) {
        zoomRedirecting("1");
    }

    // zoom -
    function wheelPressed(event){
        zoomRedirecting("0");
    }



    window.addEventListener("keydown", onKeyDown, false);

    // utilisation de zqsd
    function onKeyDown(event){
        let keyCode = event.keyCode;
        switch(keyCode){
            case 90:  //z
                navRedirecting("up");
                break;
            case 83:  //s
                navRedirecting("down");
                break;
            case 68:  //d
                navRedirecting("right");
                break;
            case 81:  //q
                navRedirecting("left");
                break;
        }
    }




    function zoomRedirecting(type){
        let width = window.innerWidth;
        let height = window.innerHeight;
        location.replace("/fractal/" + zoom + "/" + event.clientX + "/" + event.clientY + "/" + type +"/" + topx + "/"+topy+"/"+width+"/"+height);
    }

    function navRedirecting(type){
        let width = window.innerWidth;
        let height = window.innerHeight;
        location.replace("/fractal/" + type + "/" + zoom + "/" + topx + "/"+topy+"/"+width+"/"+height)
    }

</script>
</body>
#end
