#parse("base.html")
#@mainLayout()
<html lang="fr">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/style.css">
    <title>Default title</title>
</head>
<body>
<div>
    <img id="mandelbrot" src="$path" />
</div>


<div id="zoom" style="visibility: hidden; display:inline;" >$mandelbrot.getZoomFactor().toString()</div>
<div id="topx" style="visibility: hidden; display:inline;" >$mandelbrot.getTopLeftX().toString()</div>
<div id="topy" style="visibility: hidden; display:inline;" >$mandelbrot.getTopLeftY().toString()</div>
<div id="width" style="visibility: hidden; display:inline;" >$mandelbrot.getWidth().toString()</div>
<div id="height" style="visibility: hidden; display:inline;" >$mandelbrot.getHeight().toString()</div>


<script type="text/javascript">
    zoom = document.getElementById("zoom").innerHTML;
    topx = document.getElementById("topx").innerHTML;
    topy = document.getElementById("topy").innerHTML;

    function mouseClick(event) {
        width = window.innerWidth;
        height = window.innerHeight;
        location.replace("/fractal/" + zoom + "/" + event.clientX + "/" + event.clientY + "/" + "1/" + topx + "/"+topy+"/"+width+"/"+height)
    }

    function wheelPressed(event){
        width = window.innerWidth;
        height = window.innerHeight;
        location.replace("/fractal/" + zoom + "/" + event.clientX + "/" + event.clientY + "/" + "0/" + topx + "/"+topy+"/"+width+"/"+height)
    }



    picture = document.getElementById("mandelbrot");
    picture.addEventListener("click", mouseClick);
    picture.onwheel = wheelPressed;


</script>
</body>
#end
